
###> symfony/framework-bundle ###
apps/main/.env.local
apps/main/.env.local.php
apps/main/.env.*.local
apps/main/public/bundles/
apps/main/var/
apps/main/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
apps/main/.phpunit
apps/main/.phpunit.result.cache
apps/main/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
apps/main/.web-server-pid
###< symfony/web-server-bundle ###

.idea

.env
docker-compose.override.yml

apps/vendor-bear/node_modules
apps/vendor-bear/.env